body{
	background-color: #298FCA;
}
.header{
	background-color: #0079BF;
}

.logo{
	width: 6.5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.background{
	background-color: #298FCA;
}

.content{
	margin-top: 1%;
	margin-bottom: 1%;
}