.header{
	background-color: #0079BF;
}

body{
	background-color: #298FCA;
}

.logo{
	width: 6.5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.content{
	margin-top: 1%;
	margin-bottom: 1%;

}

.alinear{
	float: left;
    margin: 1%;
}